#tb_list_account .truncate {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 250px
}
#tb_list_account .truncate_small {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 120px
}

#tb_task_support .truncate_small {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 120px
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 35px;
    height: 35px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 2.4;
    border-radius: 25px;
}

.circleBase {
    border-radius: 50%;
}

.method_cicle {
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    background: #5BC0DE;
    color: #FFFFFF;
}
.method-footer-btn {
    display: inline-block;
    text-align: center;
    width: 50px;
}
.method-footer-btn .btn-circle.btn-lg{
    margin: 0 auto;
    margin-bottom: 5px;
}
.method-footer-btn input {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.icon_blue{
    color:#0073bb
}
.demand-manage-table .btn.btn-defaultW2 {
    height: 30px;
    line-height: 30px;
}
.demand-manage-table .w2ui-grid .w2ui-grid-body table td.w2ui-grid-data>div {
    white-space: normal;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr:hover .btn-defaultW2.btn-blue {
    background-color: #457fca;
    border-color: #457fca;
}