/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2018, 5:13:47 PM
    Author     : root
*/

.padding-right-15 {
    padding-right: 15px !important;
}
.box-shadow {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
    border-image-slice: 1;
    padding: 16px;
}
.nps-info{
    padding:15px !important;
    margin-bottom: 15px;
}
.flex-row, .flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 15px;
}
.flex-direction {
    flex-direction: row;
}
.nps-info-right {
    text-align: left;
    padding-left: 15px;
}
.nps-info-right ul {
    display: inline-block;
}
.nps-info-right ul li {
    font-size: 12px;
    line-height: 1.5;
    color: #0e9686;
    font-weight: 600;
    position: relative;
    background: transparent;
}
.nps-info-right ul li {
    clear: both;
}
.nps-info-right ul li.yellow-nps {
    color: #fe9928;
}
.nps-info-right ul li.red-nps, .nps-info-right ul li.red-nps a {
    color: #f54638;
}
.nps-info-right ul li:before {
    content: "";
    position: absolute;
    left: -15px;
    top: 3px;
    width: 12px;
    height: 12px;
    background: #0e9686;
    border-radius: 100%;
}
.nps-info-right ul li.yellow-nps:before {
    background: #fe9928;
}
.nps-info-right ul li.red-nps:before {
    background: #f54638;
}
.li-dev span {
    float: left;
}
#txt_dev, #txt_role, #txt_address {
    height: 24px;
    font-size: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 1.5;
    color: #0e9686;
    font-weight: 600;
    padding-bottom: 0px;
}
#show_competitor, .show_mail, #show_info {
    position: absolute;
    min-width: 300px;
    display: none;
    z-index: 10;
}
.item-bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.align-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.text-title {
    font-size: 16px;
    color: #757575;
    margin: 0px;
    line-height: 1.4em;
    font-weight: 600;
    padding-top: 10px;
}
.box-time {
    float: right;
}
.item-center {
    align-self: center;
    align-items: center;
}
.flex-120{
    flex-basis: 120px;

}
.flex-150{
    flex-basis: 150px;

}
.flex-300 {
    flex-basis: 328px;
}
.marB10 {
    margin-bottom: 10px;
}
label.select-icon {
    position: relative !important;
    max-width: 300px;
    display: block;
    margin-bottom: 0px;
}
.form-control {
    height: 30px;
    padding: 4px 12px;
    border-radius: 2px!important;
}
.select-icon .form-control {
    padding-right: 15px;
}
label.select-icon:after {
    font-family: "FontAwesome";
    content: '\f107';
    position: absolute;
    right: 8px;
    top: 3px;
    font-size: 18px;
    color: #757575;
    pointer-events: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.pst-button {
    position: relative;
}
.pst-button .item-button {
    position: absolute;
    top: 50%;
}
.pst-button .align-item-left {
    left: -15px;
}
.pst-button .align-item-right {
    right: -15px;
}
.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.table-bordered {
    border: 1px solid #f4f4f4;
}
.table-scrollable thead {
    background-color: #f3f3f3;
}
.table-scrollable thead th {
    font-size: 10px;
    color: #4a4a4a;
    line-height: 35px;
}
.table td {
    word-break: break-all;
}
.table-scrollable tbody tr td, .table-scrollable thead tr th {
    white-space: nowrap;
}
.email-table {
    padding: 0;
    position: absolute;
    width: 300px;
    color: #4a4a4a;
    z-index: 9;
    max-height: 400px;
    overflow: hidden !important;
    overflow-y: scroll !important;
}
.email-table table {
    margin-bottom: 0;
}
.email-table table tr td {
    font-weight: normal;
}
#tbl_email_related a {
    color: #00b6cb !important;
}
.fstMultipleMode {
    line-height: 1em;
}
#show_competitor ul,  #show_info ul{
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
    border-image-slice: 1;
    padding: 16px;
    border: none;
}
#show_competitor ul li {
    color: #0e9686;
}
.fstMultipleMode .fstControls {
    width: 100%;
}
.fstMultipleMode .fstQueryInputExpanded {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.fstMultipleMode .fstQueryInput {
    margin: 0px;
}
.maxW-316 {
    max-width: 316px;
}
.multiSelectOptions {
    height: 300px;
}
.btn_show_mail, .btn_show_competitor, .btn_show_info {
    color: #0e9686;
}
#show_info li {
    color: #f54638;
}

#tb_list_contact, #tb_list_contact_package{
    font-size: 12px !important;
}

#tb_list_account .truncate {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 250px
}
#tb_list_account .truncate_small {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 120px
}

#tb_task_support .truncate_small {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 120px
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 35px;
    height: 35px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 2.4;
    border-radius: 25px;
}

.circleBase {
    border-radius: 50%;
}

.method_cicle {
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    background: #5BC0DE;
    color: #FFFFFF;
}
.method-footer-btn {
    display: inline-block;
    text-align: center;
    width: 50px;
}
.method-footer-btn .btn-circle.btn-lg{
    margin: 0 auto;
    margin-bottom: 5px;
}
.method-footer-btn input {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.icon_blue{
    color:#0073bb
}

.btn-default.active {
    background-color: #d4d4d4 !important;
}
.total-demand, .total-demand-package {
    color: green;
}
#div_daterange .datepicker table tbody tr td {
    width: 32px;
    height: 17px;
    white-space: nowrap;
    text-align: center;
    min-width: 32px;
}
#div_daterange .datepicker table tbody tr td span {
    width: 32px;
    height: 17px;
    line-height: 17px;
}
#div_daterange .datepicker table tbody tr td span.focused, 
#div_daterange .datepicker table tbody tr td span:hover {
    background: #1e78be;
}
#div_daterange .datepicker table tbody table.datepickerViewDays tr th .datepickerMonth span {
    width: 100%;
}
#div_daterange .datepicker table tbody table.datepickerViewDays tr th .datepickerMonth span:hover {
    background: transparent;
}

.box-datepicker .datepicker td, .box-datepicker .datepicker th
{
    width:auto!important;
    height:auto!important;
    border-radius:0px !important;
}
.box-datepicker .datepicker table tr td span{
    float:none;
    display:inline-block;
    line-height:1.4em;
    width:auto!important;
    height:auto!important;
    margin:0px;
}
.box-datepicker .datepicker table tr td span.focused, .box-datepicker .datepicker table tr td span:hover{
    background:none!important;
}
.box-datepicker tr td.datepickerSelected.leftRadius,
.box-datepicker tr td:first-child.datepickerSelected, 
.box-datepicker tr td:first-child.datepickerSelected2{
    -webkit-border-top-left-radius: 50px !important;
    -webkit-border-bottom-left-radius: 50px !important;
    -moz-border-radius-topleft: 50px !important;
    -moz-border-radius-bottomleft: 50px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}
.box-datepicker tr td:last-child.datepickerSelected, 
.box-datepicker tr td:last-child.datepickerSelected2,
.box-datepicker tr td.datepickerSelected.rightRadius {
    -webkit-border-top-right-radius: 50px !important;
    -webkit-border-bottom-right-radius: 50px !important;
    -moz-border-radius-topright: 50px !important;
    -moz-border-radius-bottomright: 50px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
#div_daterange .datepicker table tbody tr td table tbody.datepickerDays td a:hover span,
#div_daterange .datepicker table tbody tr td table tbody.datepickerDays td a:hover span {
    width: 32px !important;
    height: 17px !important;
    background: #1e78be !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    color: #fff;
    display: block;
}
#tbl_list_email {
    font-size: 12px !important;
}
.table-scrollable {
    max-height: 500px;
    overflow: auto;
}