.w2ui-grid .w2ui-grid-columns .w2ui-head {
    height: 100px;
}
.w2ui-grid .w2ui-grid-columns .w2ui-head .w2ui-col-header {
    height: 80px !important;;
}
.email-manage-rm .w2ui-grid .w2ui-grid-body table .w2ui-head>div {
    -webkit-line-clamp: inherit;
    -webkit-box-orient: vertical;
    overflow: visible;
    text-overflow: inherit;
    max-width: 100%;
}
.email-manage-rm .w2ui-grid .w2ui-grid-body table .w2ui-head>div span.title-color-email {
    color: #006f46;
    height: 36px!important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}