.filter-month {
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    margin: 15px 0;
}  
.filter-month label {
    margin-right: 10px;
}
.filter-month input[type="number"] {
    width: 40px;
    border: 1px solid #000;
    height: 22px;
    margin-left: 10px;
}
.filter-month select {
    margin-left: 5px;
    height: 22px;
    border-radius: 3px;
}
.check-filter {
    margin-right: 20px;
}