/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2017, 12:57:47 PM
    Author     : root
*/
/*Page NPS*/
.top-nps{
    margin-bottom: 27px;
}
.title-header {
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
    text-align: left;
    color: #4a4a4a;
    padding-top: 5px;
    margin-bottom: 0;
}
.top-nps-span {
    font-size: 20px;
    line-height: 1;
    color: #4a4a4a;
    padding-top: 20px;
    display: block;
}
.box-shadow {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
    border-image-slice: 1;
    padding: 16px;
}
.nps-info{
    margin-bottom: 32px;
}
.middle-nps {
    margin-bottom: 32px;
}
.nps-info:last-child {
    margin-bottom: 0;
}
.nps-info-top {
    display: block;
    margin-bottom: 10px;
}
.nps-info-top h3 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1;
    color: #4a4a4a;
    display: inline-block;
}
.nps-info-top h3 span {
    font-size: 20px;
    line-height: 0.8;
    font-weight: bold;
}
.nps-info-top > span {
    font-size: 12px;
    line-height: 1.67;
    float: right;
    color: #9b9b9b;
}
.nps-info-middle{
    display: block;
    margin-bottom: 16px;
}
.nps-info-left h3 {
    font-size: 30px;
    margin-bottom: 0;
}
.nps-info-left h3 span {
    font-size: 60px;
    line-height: 1;
    color: #4a4a4a;
}
.nps-info-right {
    text-align: right;
}
.nps-info-right ul {
    display: inline-block;
}
.nps-info-right ul li{
    font-size: 12px;
    line-height: 1.5;
    color: #0e9686;
    font-weight: 600;
    position: relative;
    background: transparent;
}
.nps-info-right ul li:before{
    content: "";
    position: absolute;
    left: -15px;
    top: 3px;
    width: 12px;
    height: 12px;
    background: #0e9686;
    border-radius: 100%;
}
.nps-info-right ul li.yellow-nps:before {
    background: #fe9928;
}
.nps-info-right ul li.yellow-nps{
    color: #fe9928;
}
.nps-info-right ul li.red-nps:before{
    background: #f54638;
}
.nps-info-right ul li.red-nps{
    color: #f54638;
}
.nps-info-bottom .progress{
    height: 31px;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px !important;
}
.nps-info-bottom .progress-bar {
    line-height: 35px !important;
}
.nps-info-bottom .progress-bar span{
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
}
.progress-bar-recommend {
    background-color: #f54638;
}
.progress-bar-neutral {
    background-color: #fe9928;
}
.progress-bar-critic {
    background-color: #0e9686;
}
.padding-left-15{
    padding-left: 15px !important;
}
.padding-right-15{
    padding-right: 15px !important;
}
#nps-chart{
    height: 337px;
}
#nps-chart .highcharts-title {
    color: #4a4a4a !important;
    fill: #4a4a4a !important;
}
.bottom-nps .box-shadow{
    padding-top: 58px;
    padding-bottom: 50px;
}
.bottom-nps-detail .box-shadow{
    padding-bottom: 50px;
}
.nps-table-top {
    overflow: hidden;
    margin-bottom: 17px;
}
.nps-table-top .has-feedback, 
.nps-table-top ul{
    display: inline-block;
    width: auto;
}
.nps-table-top .has-feedback{
    min-width: 300px;
    margin-right: 16px;
}
.nps-table-top ul li {
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    color: #4a4a4a;
}
.nps-table-top ul li:after {
    content: "|";
    padding: 0 10px;
}
.nps-table-top ul li:last-child:after{
    content: "";
}
.dataTables_length,
.dataTables_filter,
.dataTables_info ,
.dataTables_paginate{
    display: none;
}
.table-scrollable thead {
    background-color: #f3f3f3;
}
.table-scrollable thead th{
    font-size: 10px;
    color: #4a4a4a;
    line-height: 35px;
}
.table-scrollable thead th:first-child,
.table-scrollable tbody tr td:first-child {
    padding-left: 20px;
}
.table-scrollable tbody tr td {
    font-size: 11px;
    color: #4a4a4a;
    line-height: 25px;
    padding: 8px 15px;
}
.table-scrollable tbody tr.even{
    background-color: #f9f9f9;
}
.table-scrollable tbody tr span.nps-all  {
    width: 30px;
    height: 24px;
    display: block;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
}
.table-scrollable tbody tr span.nps-number {
    width: 24px;
    height: 24px;
    display: block;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}
.table-scrollable tbody tr span.nps-cs {
    width: 24px;
    height: 24px;
    display: block;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
}
.yellow-nps {
    background-color: #ff9600;
}
.red-nps {
    background-color: #f54638;
}
.green-nps {
    background-color: #5aa017;
}
.table-scrollable tbody tr td.menu-nps-table {
    padding-right: 20px;
    text-align: right;

    position:  relative;
}
.table-scrollable tbody tr td.menu-nps-table span > i{
    font-size: 25px;
    display: block;
    color: #757575;
    cursor: pointer;
}
.table-scrollable tbody tr td.menu-nps-table ul{
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
    width: 160px;
    text-align: left;
    position: absolute;
    right: 0;
    left: auto;
    z-index: 9;
    padding: 0;
    border: 0;

}
.table-scrollable tbody tr:last-child td.menu-nps-table ul{
    position: static;
}
.table-scrollable tbody tr td.menu-nps-table ul li a {
    font-size: 12px;
    line-height: 1;
    color: #4a4a4a;
    padding: 10px 10px;
    display: block;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
.table-scrollable tbody tr td.menu-nps-table ul li a i {
    color: #9b9b9b;
    font-size: 15px;
    padding-right: 10px;
}
.table-scrollable tbody tr td.menu-nps-table ul li a:hover {
    background-color: #e1e3e9;
    color: #000000;
}
.table-scrollable tbody tr td.menu-nps-table ul li a:hover i{
    color: #000;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: transparent;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1{
    background-color: transparent;
}
table.dataTable thead th, table.dataTable thead td,
table.dataTable.no-footer{
    border-bottom: 0;
}
.table-scrollable thead th:last-child {
    background: none;
}
.table-scrollable tbody tr .split-text{
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}
.title-box {
    font-size: 24px;
    line-height: 1;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 0;
}
.nps-middle-detail{
    min-height: 352px;
    margin-bottom: 35px;
}
.nps-middle-detail #nps-chart {
    height: 319px;
}
.nps-info-detail .nps-info {
    margin-bottom: 24px;
}
.title-bottom-nps-detail {
    font-size: 24px;
    color: #4a4a4a;
    opacity: 0.9;
    margin-bottom: 18px;
    display: block;
}
.padding-left-0{
    padding-left: 0 !important;
}
.padding-right-0{
    padding-right: 0 !important;
}
.nps-show-pagination div {
    float: right;
}
.pagination-nps a {
    font-size: 20px;
    color: #757575;
    padding-right: 25px;
}
.pagination-nps a:last-child {
    padding-right: 0;
}
.text-nps-show p {
    font-size: 12px;
    line-height: 1.5;
    color: #4a4a4a;
    padding-right: 20px;
    margin-bottom: 0;
    padding-top: 5px;
}
.select-nps-show {
    font-size: 12px;
    line-height: 1.5;
    color: #4a4a4a;
    padding-right: 20px;
    padding-top: 3px;
}
.select-nps-show select {
    border: 0;
    outline: 0;
}
#ul_filter_type li,#ul_filter_group li {
    cursor: pointer;
}
#ul_filter_type li.filter-selected,#ul_filter_group li.filter-selected {
    font-weight: bold;
}
@media (max-width: 1545px) and (min-width: 991px){
    .nps-table-top .has-feedback{
        margin-bottom: 10px;
    }
    .nps-font h3 {
        font-size: 16px;
    }
    .nps-font h3 span {
        font-size: 22px;
    }
}
@media (max-width: 1320px){
    .table-scrollable{
        overflow-x: scroll;
    }
}
@media (max-width: 991px){
    .middle-nps-left,
    .middle-nps-left-four {
        padding-right: 8px !important;
    }
    .middle-nps-right,
    .middle-nps-right-four {
        padding-left: 8px !important;
    }
    .middle-nps-right,
    .middle-nps-left-four {
        margin-bottom: 32px;
    }
    .nps-table-top .has-feedback{
        max-width: 300px;
        display: block;
    }
    .nps-table-top ul{
        display: block;
        margin-top: 10px;
    }
    .middle-nps-left .nps-middle-detail,
    .middle-nps-right .nps-middle-detail{
        margin-bottom: 24px;
    }
    .nps-detail .middle-nps-right{
        margin-bottom: 0;
    }
    .top-nps-span{
        text-align: left;
    }
    .nps-show-pagination div {
        float: left;
    }
    .text-nps-show p,
    .select-nps-show{
        padding-left: 20px;
        padding-right: 0;
    }
    .nps-show-pagination {
        width: 100%;
        overflow: hidden;
        margin-top: 10px;
    }
    .nps-table-top-left, 
    .nps-table-top-right{
        padding-left: 0 !important;
    }

}
span.nps-number {
    width: 24px;
    height: 24px;
    display: block;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}
.w2ui-tag .w2ui-tag-body{
    right: -38px;
}
 span.w2ui-info.fa.fa-ellipsis-v{
    font-size: 25px !important;
    display: block;
    color: #757575;
    cursor: pointer;
}
.w2ui-tag .w2ui-tag-body.w2ui-tag-top:after{
    left: auto;
    right: 5px;
}
.w2ui-tag .w2ui-tag-body{
    top: 5px
}