/*** 

====================================================================
       Fixed muiltie screen
====================================================================

 ***/

@media (max-width:980px){
.item-flexW{
    margin-right: 0;
    flex-basis: 100%;
    max-width: 100%;  
}
.item-flex{ 
     flex-basis: 100%;
    max-width: 100%;  
}
}
